<h1>Prenset</h1>

<h2>Resumen de noticias</h2>

<ul>
    <li>{{todosLosArticulos[0].titulo}}</li>
    <li>{{todosLosArticulos[0].vista}}</li>
    <li>{{todosLosArticulos[0].autor}}</li>
    <li>{{todosLosArticulos[0].fecha}}</li>
</ul>
<hr>
<ul>
    <li>{{todosLosArticulos[1].titulo}}</li>
    <li>{{todosLosArticulos[1].vista}}</li>
    <li>{{todosLosArticulos[1].autor}}</li>
    <li>{{todosLosArticulos[1].fecha}}</li>
</ul>
<hr>
<ul>
    <li>{{todosLosArticulos[2].titulo}}</li>
    <li>{{todosLosArticulos[2].vista}}</li>
    <li>{{todosLosArticulos[2].autor}}</li>
    <li>{{todosLosArticulos[2].fecha}}</li>
</ul>
<hr>
<ul>
    <li>{{todosLosArticulos[3].titulo}}</li>
    <li>{{todosLosArticulos[3].vista}}</li>
    <li>{{todosLosArticulos[3].autor}}</li>
    <li>{{todosLosArticulos[3].fecha}}</li>
</ul>



